body {
    background-color: beige;
    font-family: "Arial";
    text-align: center;
}
button {
    font-weight: bold;
    background-color: red;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
#increment-btn {
    background: darkred;
}
#save-btn {
    background-color: green;
}
