body {
    background-color: rgb(232, 232, 232);
    font-family: "Arial";
    text-align: center;
    font-size: 20px;
}
button {
    font-weight: bold;
    background-color: red;
    color: black;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 9px;
    border: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
<<<<<<< HEAD
    font-size: 32px;
=======
    font-size: 18px;
>>>>>>> site
}
#increment-btn {
    background-color: white;
    border-width: 3px;
    border-style: solid;
}
#save-btn {
    background-color: white;
    border-width: 3px;
    border-style: solid;
}
a {
    text-decoration: none;
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    color: black;
}
a:hover {
    text-decoration: underline;
}
button:hover {
<<<<<<< HEAD
    cursor: pointer;   
    opacity: 0.75;
=======
    opacity: 0.7;
    cursor: pointer;
>>>>>>> site
}
.atr {
    color: skyblue;
}
.Repo {
    color: darkgrey;
    font-size: 22px;
}
.Home {
    color: lightgrey;
    font-size: 22px;
}
.Entries {
    font-size: 20px;
}
